@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 98vh;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > #titulo_header {
    color: black;
}

main > #section {
    background-color: red;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    margin: 10px;
    background-color:aqua;
    padding: 5px;
    border-radius: 5px;
}

#button:hover {
    background-color: rgb(97, 199, 165);
    cursor: pointer;
    border-radius: 10px;
}