@charset "UTF-8";
@font-face {
    font-family: 'iDroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: regular;
    font-style: regular;
    }

@font-face {
    font-family: 'Cheese';
    src: url('fontes/Cookies\ and\ Cheese\ -\ Demo.ttf') format('truetype');
    font-weight: regular;
    font-style: regular;
}

@font-face {
    font-family: 'Bebas';
    src:url('fontes/BebasNeue-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: regular;
}

:root{
    --cor0: #6BAA75;
    --cor1: #84DD63;
    --cor2: #CBFF4D;
    --cor3: #69747C;
    --cor4: #545454;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'iDroid', sans-serif;
    --fonte2: 'Cheese', sans-serif;
    --fonte3: 'Bebas', sans-serif;
    }

body{
    margin: 0px;
    background-color: var(--cor2)
    
}

header {
    padding-bottom: 13px;
    background-image: linear-gradient(var(--cor1), var(--cor0));
}

.topheader1 {  /* TITULO PRINCIPAL DO SITE */
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-family: var(--fonte3);
    font-weight: normal;
    font-size: 37px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
    color: white;

}

.topheader { /* SUB TITULOS PRINCIPAIS DO SITE */
    text-align: center;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 1px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.74)
}

.anav {  /* CONFIGS ELEMENTOS DA BARRA DE NAVEGAÇÃO */
    color: var(--cor4);
    text-decoration: none;
    margin: 5px;
    font-size: 14px;
    padding: 4px;
    border-radius: 4px;
    transition-duration: .3s;
}

nav { /* CONFIGS DA BARRA DE NAVEGAÇÃO */
    text-align: center;
    background-color: var(--cor0);
    padding: 2px;
}

nav > a:hover {  /* EFEITO NA BARRA DE NAVEGAÇÃO */
    color: (var(--cor2));
    background-color: var(--cor1);
}

a {
    text-decoration: none;
    color:#7d8488;
    background-color:#84DD63;
    padding: 2px 4px;
    border-radius: 5px;
}

a:hover {
    background-color:#6BAA75;
    color:#545454;
    transition-duration: .4s;
}

a.externo::after {
    content: '\00A0\1F517';
}

main { /* CONFIGS MAIN */
	min-width: 320px;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 10px;
}

article { /* CONFIGS ARTIGO */
	background-color: white;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.400);
	border-radius: 0px 0px 5px 5px;
	padding: 20px;
	padding-bottom: 10px;
}

.article {  /* TITULO DO ARTIGO */
    font-family: var(--fonte1);
    font-weight: normal;
    margin: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    color: var(--cor1);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.430);
}

.destaque { /* LETRAS DESTACADAS NO TEXTO */
    color: rgb(115, 255, 0);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 255, 34, 0.35);
}

#pequena { /* CONFIG DA ULTIMA IMG */
    display: block;
    width: 200px;
    margin: auto;

}

span > .article-sub { /* CONFIG DE TÓPICOS/ASSUNTOS DENTRO DO ARTIGO*/
    font-family: var(--fonte1);
    color: var(--cor0);
    padding: 7px;
    border-radius: 10px;
    font-size: 22px;
    background-image:linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

.text { /* CONFIG DAS LINHAS, PARAGRAFOS NORMAIS*/
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 35px;
    font-weight: normal;
    text-align: justify;
    margin: 35px;
    line-height: 25px;    
    word-spacing: normal;
}

footer p { /* CONFIG DO RODAPÉ, DIREITOS AUTORAIS, LÁ EMBAIXÃO */
    text-align: center;
    background-color:#6BAA75;
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-family: 'Bebas';
    letter-spacing: 1px;
    word-spacing: 3px;

}

footer a:hover {
    color: dark;

}

section#tit_aside { /* TITULO ASIDE */
    background-color: var(--cor0);
    font-family: "iDroid";
    font-size: 14px;
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: black;
    padding: 7px;
    border-radius: 5px;
}

.lists {
    background-color: var(--cor2);
    padding: 7px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    
    
}

.li0 {
    box-sizing: border-box;
    width: 50%;
    list-style-type: none;
}

.li1 {
    box-sizing: border-box;
    height: 50%;
    list-style-type: none;
}

.listsul {
    list-style-type: none;
}

.text1 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5px;
    font-weight: normal;
    text-align: justify;
    margin: 35px;
    line-height: 25px;    
    word-spacing: normal;
}

.text2 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5px;
    font-weight: normal;
    text-align: justify;
    margin: 20px 35px;
    line-height: 25px;    
    word-spacing: normal;
}

