@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #ADD7F6, #ADD7F6);
}

main {
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 15px #3f8efc98;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #438ffa;
    text-align: center;
    text-shadow: 1px 1px 5px #7dbaff;
}

h2 {
    color: #75b5ff;
    text-shadow: 1px 1px 2px #add7f6;
}

p{
    text-align: justify;
}